@charset "UTF-8";
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 14px;
}
body {
	font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}
a img{
  border:none;
}
ul{
  list-style: none;
}
img{
  vertical-align: bottom;
}
table{
  border-collapse: collapse;
}
header, footer, nav, article, aside, section{
  display: block;
}
@media only screen and (min-width: 768px), print {
	body{
		min-width: 1200px;
	}
}
a{
	text-decoration: none;
}
