@charset "UTF-8";
/*
Theme Name:media
*/
#wrapper a,#wrapper a:visited,
#wrapper h3,#wrapper h4,
#gnav > ul .menu a,#more_button a,
.pagination li a,.inner{
	color: #333;
}
#header_inner,.footer_inner,
.archive_wrap,.content_inner,
.single_kanren,.single_post_inner,.inner{
	width:100%;
	max-width:1200px;
}
#header_inner,.footer_inner,
.archive_wrap,.content_inner,
.single_kanren,.single_post_inner,.inner,
#gnav > ul .menu,.main_visual,
.ranking .side_menu_inner article,
.member .member_image{
	overflow: hidden;
}
#header_inner,.footer_inner,
.content_inner,.archive_wrap,
.single_post img,.ranking h4,
.ranking div,
.single_post .content,.single_kanren,#pagetop_btn,
.single_post_inner,.inner,
#more_button,.contact,
.about,.catchcopy{
	margin-left: auto;
	margin-right: auto;
}
.content_inner,.archive_wrap .archive_inner,
.ranking div,#magazine_inner,.pagination ul,
.single_post_btn ul,.member,.contact dl,
.single_kanren_posts,
.category .side_menu_inner,
#gnav > ul .menu .menu_inner{
	display: flex;
  flex-wrap: wrap;
}
.content_inner,.archive_wrap .archive_inner,
.ranking div,#magazine_inner,.pagination ul,
.single_post_btn ul,.member{
	font-size: 16px;
}
#magazine_inner article:hover h3,
.ranking article:hover h3,
.archive_inner article:hover h3,
.single_post .single_post_btn a:hover,
.header_menu a:hover,.footer_menu a:hover{
	text-decoration: underline;
}

/*----header,footer----*/
header{
	position: fixed;
	z-index:100;
	width: 100%;
	background-color: #fff;
    border-bottom: 1px solid #c4c4c4;
}
.footer_menu,.footer_menu li,.copyright{
	display: inline;
}
h1,.header_content,.header_menu,.header_menu li,.header_sns,.header_sns li,.header_sns li img{
    display: inline-block;
}
#header_inner,.footer_inner{
    height: 70px;
    line-height: 70px;
}
h1{
    width: 20%;
    vertical-align: middle;
}
h1 img{
    width:100%;
    display: block;
}
.header_sns li img{
    display: block;
}
.header_menu li,.footer_menu li{
	padding-left: 20px;
}
.header_sns li{
	padding-left: 10px;
}
.header_sns li:first-of-type{
	padding-left: 30px;
}
.footer_menu a:last-of-type{
	padding-left: 0;
}
.header_menu a{
	font-size: 16px;
}
.header_sns img{
    opacity: 0.6;
}
.header_sns img:hover{
    opacity: 1;
    transition: 0.2s;
}
.footer_menu a{
	font-size: 14px;
}
.header_content,.footer_menu{
	float: right;
}
header {
    width: 100%;
}
#gnav{
	display: inline-block;
}
#gnav > ul > li:hover .menu {
  max-height: 9999px;
  opacity: 0.9;
}
#gnav > ul > li > a {
  display: block;
  transition: all .2s ease-in;
}
#gnav > ul .menu {
  transition: all .2s ease-in;
  max-height: 0;
  opacity: 0;
  width: 100%;
  left: 0;
	top: 71px;
  text-align: center;
  position: absolute;
  background-color: #fefefe;
}
#gnav > ul .menu .menu_inner {
  padding:20px;
}
#gnav > ul .menu .menu_inner li {
	width:12.5%;
	margin-right: 2%;
	padding-left: 0;
}
#gnav > ul .menu .menu_inner li:nth-of-type(7n){
	margin-right: 0;
}
/*----//header,footer----*/

/*----pagetop_btn----*/
#pagetop_btn{
    position: fixed;
    right: 2%;
    bottom:3%;
    cursor: pointer;
    z-index: 9999;
    width: 60px;
    height: 60px;
    opacity: 0.6;
}
#pagetop_btn a{
    display: block;
    width: 60px;
    height: 60px;
}
/*----//pagetop_btn----*/

.side_menu_inner article a{
    display: block;
}
.content_inner article:hover,
.archive_inner article:hover{
	opacity: 0.6;
	transition: 0.4s;
}
.br_sp{
	display: none;
}

/*---main_visual---*/
.bxslider{
	padding-top: 95px;
}
.main_visual {
    width:1200px;
    margin: 0 auto;
}
#keyimg {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}
#keyimg ul li img {
    width: 100%;
    height: auto;
}
#keyimg .bx-viewport {
    overflow: visible !important;
/*  z-index: 1;*/
}
/*bxslider*/
.bx-wrapper .bx-controls-direction{
    position: relative;
}
.bx-wrapper .bx-controls-direction a {
    position: absolute;
    margin-top: -20%;
    width: 40px;
    height: 40px;
    text-indent: -9999px;
    z-index: 100;
    display: block;
    opacity: 0.8;
}
.bx-wrapper .bx-controls-direction a:hover{
    opacity: 1;
}
.bx-wrapper .bx-prev,.bx-wrapper .bx-next{
    top: 50%;
    width: 40px;
    height: 40px;  
    -webkit-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -moz-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  -ms-filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
  filter:drop-shadow(1px 3px 5px rgba(0, 0, 0, 0.2));
}
.bx-wrapper .bx-prev {
    background: url(./images/slider_prev.png) no-repeat left top !important;
    left:-105px;
}
.bx-wrapper .bx-next {
    background: url(./images/slider_next.png) no-repeat left top !important;
    right:-105px;
}
.slider_text{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #000;
    display: block;
    color: #fff;
    width: 100%;
    min-height: 60px;
    padding:15px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    font-size: 16px;
    line-height: 1.5em;
}
.slider_text span{
    font-size: 12px;
}
.bxslider a:hover{
    opacity: 0.6;
    transition: 0.8s;
}
/*//bxslider*/
/*---//main_visual---*/

/*---main_content---*/
/*---magazine---*/
.catchcopy{
	padding-top: 40px;
	padding-bottom:40px;
	font-size: 24px;
	text-align: center;
	font-weight: bold;
}
.magazine article h3{
	padding-bottom: 3px;
}
#main_content{
	width:790px;
	margin-right: 30px;
}
#magazine_inner article{
	width:380px;
	margin-right: 30px;
	margin-bottom: 30px;
}
#magazine_inner article img{
	height: 214px;
	object-fit: cover;
	width:100%;
	padding-bottom: 10px;
}
#magazine_inner article:nth-of-type(2n){
	margin-right: 0;
}
.magazine_category{
	border: 1px solid #333;
	width:fit-content;
	margin-bottom: 7px;
    padding: 1px 4px;
    font-size: 14px;
}
.magazine_data{
    font-size: 12px;
    color: #999999;
}
/*もっと見るボタン*/
#more_button{
    border: 2px solid #333;
    box-sizing: border-box;
    width:160px;
    line-height: 38px;
    text-align: center;
}
#wrapper #more_button a:hover{
    color: #fff!important;
}
#more_button a{
    width:160px;
    line-height: 38px;
    display: block;
}
#more_button:hover{
    border: none;
    background-color: #333;
    transition: 0.4s;
}
/*//もっと見るボタン*/
/*---//magazine---*/
/*---//main_content---*/

/*---side_menu---*/
#side_menu{
	width:380px;
}
#side_menu >div{
    padding-bottom: 40px;
}
#side_menu h2{
	padding-bottom: 20px;
	font-size: 22px;
    text-align: center;
    line-height: 1em;
}
#side_menu h2 span{
    font-size: 12px;
    color: #999;
}
/*---ranking---*/
.ranking .side_menu_inner{
    counter-reset:count-number;
}
.ranking .side_menu_inner article{
		margin-bottom: 20px;
    position: relative;
}
.ranking .side_menu_inner img{
	width:160px;
	height: 90px;
	object-fit: cover;
	margin-right: 20px;
	float: left;
}
.ranking .side_menu_inner p{
	width:200px;
	float: right;
}
.ranking article:hover h3{
    pointer-events: 
}
.ranking .side_menu_inner article:before {
    counter-increment: count-number;
    content: counter(count-number);
    display: block;
    width: 25px;
    line-height: 25px;
    border-radius: 50%;
    position: absolute;
    z-index: 10;
    left: 5px;
    top: 5px;
    background: #4E4E4E;
    text-align: center;
    color: #fff;
    font-size: 14px;
}
/*---//ranking---*/
/*---category---*/
.category .side_menu_inner article{
	width:46%;
    margin-right:4%;
    border:1px solid #707070;
    padding: 5px 5px 5px 8px;
    margin-bottom: 10px;
}
.category .side_menu_inner article a:before{
    left: 3px;
    width: 4px;
    height: 4px;
    border-top: 2px solid #7a0;
    border-right: 2px solid #7a0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.category .side_menu_inner article:nth-of-type(even){
    margin-right:0%: 
}
/*---//category---*/
/*---banner---*/
.banner .side_menu_inner img{
	width:100%;
    padding-bottom: 20px;
}
/*---//banner---*/
/*---//side_menu---*/


/*---single_post---*/
.single_post{
	padding-top:95px;
}
/*---shingle_post・archive_post---*/
/* パンくずリスト */
.breadcrumb{
	font-size: 13px;
    margin-bottom: 30px;
}
.breadcrumb li{
	display:inline-block;
}
.breadcrumb li::after{
	content: ">"
}
.breadcrumb li:last-child:after{
	content: ""
}
.single .breadcrumb,.archive .breadcrumb{
    width: 100%;
}
/* //パンくずリスト */
/*記事部分、一覧*/
.single_post_inner .content{
	width: 700px;
}
.single_post .content h2,.single_post h3,.single_post h4,
.single_kanren h4,.archive_wrap h2,.inner h2{
	text-align: center;
}
.single_post h2,.archive_wrap h2,.inner h2{
	padding-bottom: 40px;
	font-size: 24px;
}
.single_post h3{
	padding-bottom: 40px;
	font-size: 22px;
}
.single_post h4{
	padding-top:40px;
	padding-bottom: 30px;
	font-size: 20px;
}
.single_post img{
	width: 700px;
  height: auto;
	text-align: center;
	padding-bottom: 30px;
	display: block;
}
.single_post p{
	line-height: 2em;
	padding-bottom: 15px;
}
.archive_wrap{
    padding-top: 95px;
}
.archive_wrap h3{
    padding-bottom: 5px;
    font-size:18px;
}
.archive_wrap article{
	width:30%;
	margin-right: 5%;
	margin-bottom: 40px;
}
.archive_wrap article:nth-of-type(3n){
	margin-right: 0%;
}
.archive_wrap article img{
	width:100%;
    height: 214px;
    object-fit: cover;
    padding-bottom: 10px;
}
/*//記事部分*/
/*ランキング6個*/
.single_kanren{
	margin-top: 40px;
}
.single_kanren h4{
	font-size:24px;
	margin-bottom: 20px;
}
.single_kanren a{
	display: block;
}
.single_kanren a:hover{
	opacity: 0.6;
	transition: 0.4s;
}
.single_kanren_posts div{
	width:30%;
	margin-right: 5%;
	margin-bottom: 40px;
}
.single_kanren div:nth-of-type(3n){
	margin-right: 0%;
}
.single_kanren img{
	width:100%;
	height: auto;
	padding-bottom: 10px;
}
.single_kanren_posts h2{
    font-size: 16px;
}
/*//ランキング6個*/
/*ページネーション*/
.single_post_btn li{
    width:50%;
    font-weight: bold;
    font-size: 20px;
}
.single_post_btn{
    padding-top: 70px; 
}
.prevpost{
    text-align: left;
    border-right:#333 solid 1px;
}
.prevpost a{
    background: url(./images/icon_prev_off.png) no-repeat left 50%;
    padding: 20px 100px 20px 70px;
    display: block;
}
.nextpost{
    text-align: right;
}
.nextpost a{
    background: url(images/icon_next_off.png) no-repeat right 50%;
    padding: 20px 70px 20px 100px;
    display: block;
}
.prevpost a:hover{
    background: url(./images/icon_prev_on.png) no-repeat left 50%;
    transition: 0.2s;
}
.nextpost a:hover{
    background: url(images/icon_next_on.png) no-repeat right 50%;
    transition: 0.2s;
}
/*//ページネーション*/
/*---//shingle_post---*/
/*一覧用ページネーション*/
.pagination {
    margin-top: 50px;
    margin-bottom: 50px;
}
.pagination ul{
    width: 100%;
    justify-content: center;
}
.pagination li {
    list-style: none outside none;
    margin-left: 15px;
}
.pagination li.active {
    background-color: #333;
    border: 2px solid #333;
    color: #fff;
    cursor: not-allowed;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.pagination li a{
    border: 2px solid #333;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.pagination li a:hover{
		background-color: #333;
		transition: 0.2s;
		color: #fff!important;
}
.pagination .next a,
.pagination .prev a{
	width:fit-content;
	padding:0 10px;
}
/*---shingle_post・archive_post---*/
/*inner*/
.inner{
	padding-top: 95px;
	padding-bottom: 40px;
}
.contact{
	width:70%;
}
.contact dl{
	margin-bottom: 15px;
}
.contact dt{
	width:27%;
	margin-right: 5%;
	font-weight: bold;
	font-size: 18px;
		padding:5px 0;
	position: relative;
}
.contact dt span{
	width:40%;
	margin-left: auto;
	background: #ff7575;
  color: #fff;
  line-height: 23px;
  border-radius: 5px;
  width: 45px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
	position: absolute;
	right: 0;
}
.contact dd{
	width: 68%;
}
.contact dd input,
.contact dd textarea{
	padding:10px;
}
.contact dd input,.contact dd textarea,
#confirm-submit input{
	width:100%;
}
#confirm-submit{
	margin:0 auto;
	width: 20%;
}
#confirm-submit input{
  border: 2px solid #333;
  box-sizing: border-box;
  padding:10px 0;
  text-align: center;
  background-color: #fff;
}
#confirm-submit input:hover{
	color: #fff!important;
  border: none;
  background-color: #333;
  transition: 0.4s;
	cursor: pointer;
}
/*//inner*/
/*about*/
.about{
	width:70%;
}
.about h3{
	padding-bottom: 20px;
	padding-top: 30px;
	font-size: 22px;
	text-align: center;
}
.about p{
	padding-bottom: 10px;
	line-height: 2em;
	font-size: 16px;
}
.wp-image-71{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.member{
	width:100%;
}
.member .member_list{
	width:27%;
	margin-right: 9%;
	text-align: center;
}
.member .member_list:nth-of-type(3n){
	margin-right: 0;
}
.member .member_image{
	border-radius: 50%;
	width:230px;
	height:230px;
	margin-bottom: 20px;
}
.member .member_image img{
	width:auto;
	height:100%;
}
/*//about*/ 

/*sp用*/
@media only screen and (max-width:767px){
#header_inner,.footer_inner,
.archive_wrap,.content_inner,
.single_kanren,.single_post_inner,
.catchcopy,.inner{
	width:90%;
}
	#header_inner,.footer_inner,
.archive_wrap,.content_inner,
.single_kanren,.single_post_inner,
.catchcopy,.inner{
	overflow: none;
}
.content_inner,.archive_wrap .archive_inner,
.ranking div,#magazine_inner,
.single_post_btn ul{
	display: block;
  flex-wrap:none;
}
#magazine_inner article:hover h3,
.ranking article:hover h3,
.archive_inner article:hover h3,
.single_post .single_post_btn a:hover,
.header_menu a:hover,.footer_menu a:hover{
	text-decoration:none;
}

/*----header,footer----*/
.header_content,.footer_menu{
	float: none;
}
h1{
	width:50%;
}
/*----//header,footer----*/

/*----pagetop_btn----*/

/*----//pagetop_btn----*/

.br_sp{
	display: block;
}
/*---main_visual---*/
.main_visual {
    width:100%;
}
.slider_text {
    padding: 10px;
}
/*//bxslider*/
/*---//main_visual---*/

/*---main_content---*/
/*---magazine---*/
.magazine article h3{
	padding-bottom: 3px;
}
#main_content{
	width:100%;
	margin-right:0;
}
#magazine_inner article{
	width:100%;
	margin-right:0;
}
#magazine_inner article img{
	height:auto;
	object-fit: cover;
	width:100%;
}
#magazine_inner article:nth-of-type(2n){
	margin-right: 0;
}
/*---//magazine---*/
/*---//main_content---*/

/*---side_menu---*/
#side_menu{
	width:100%;
	padding-top: 60px;
}
/*---ranking---*/
.ranking .side_menu_inner article{
	overflow:none;
}
.ranking .side_menu_inner img{
	width:100%;
	height:auto;
	float: none;
	margin-right:0;
}
.ranking .side_menu_inner p{
	width:100%;
	float: none;
}
.ranking .side_menu_inner article:before {
    width: 35px;
    line-height: 35px;
    font-size: 16px;
}
/*---//ranking---*/
/*---category---*/
.category .side_menu_inner{
    display: flex;
    flex-wrap: wrap;
}
.category .side_menu_inner article{
		width:48%;
    margin-right:4%;
}
.category .side_menu_inner article:nth-of-type(even){
		margin-right: 0;
}
.category .side_menu_inner article:last-of-type(even){
		margin-bottom: 0;
}	
/*---//category---*/
/*---//side_menu---*/

/*---shingle_post・archive_post---*/
/*記事部分、一覧*/
.single_post_inner .content{
	width:100%;
}
.single_post img{
	width: 100%;
  height: auto;
}
.archive_wrap article{
	width:100%;
	margin-right:0;
}
.archive_wrap article:nth-of-type(3n){
	margin-right: 0%;
}
.archive_wrap article img{
	width:100%;
  height:auto;
  object-fit: cover;
}
/*//記事部分*/
/*ランキング6個*/
.single_kanren{
	margin-top: 40px;
}
.single_kanren h4{
	font-size:24px;
	margin-bottom: 20px;
}
.single_kanren a{
	display: block;
}
.single_kanren a:hover{
	opacity: 0.6;
	transition: 0.4s;
}
.single_kanren_posts{
	display:block;
	flex-wrap:none;
}
.single_kanren_posts div{
	width:100%;
	margin-right:0;
	margin-bottom: 40px;
}
/*//ランキング6個*/
/*ページネーション*/
.single_post_btn ul{
		display: flex;
}
.prevpost a{
    padding: 20px 0px 20px 70px;
}
.nextpost a{
    background: url(images/icon_next_off.png) no-repeat right 50%;
    padding: 20px 70px 20px 0px;
    display: block;
}
/*//ページネーション*/
/*---//shingle_post---*/
/*---shingle_post・archive_post---*/
/*contact*/
.contact{
	width:100%;
}
.contact dl {
    display: block;
    flex-wrap:none;
    margin-bottom: 15px;
}
.contact dd {
    width: 100%;
}
.contact dt {
    width: 40%;
    margin-right:0; 
}
/*//contact*/
/*about*/
.about{
	width:100%;	
}
.member .member_list{
	width:100%;
	margin-right:0;
}
.member .member_image{
	border-radius: 50%;
  overflow: hidden;
	width:230px;
	height:230px;
	margin-bottom: 0;
	margin: 0px auto 20px;
}
.wp-image-71{
	width:100%;
	height: auto;
}
/*//about*/
}
/*//sp用*/
